<h1>PostCode Lookup</h1>
<%= form_with(url: "/", method: "get", local: true) do %>
  <%= label_tag(:postcode, "PostCode:") %>
  <%= text_field_tag(:postcode, @postcode) %>
  <%= submit_tag("Submit") %>
<% end %>
<% # byebug %>
<% if @postcode %>
<h2>
  <%= @postcode %> is whitelisted
</h2>
<% end %>